In [38]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score
import csv
from csv import writer
from csv import reader
from sklearn.tree import DecisionTreeClassifier
from sklearn.cluster import KMeans
from matplotlib import pyplot as plt

In [39]:
new_df = pd.read_csv('new_merged_data.csv')
new_df.head()

,Neighborhood,prices,year,month,total crime,violent crime,drug crime,housing crime,price classified
0,Allston,419685.0,2015,6,121,18,5,13,low
1,Allston,425878.0,2015,7,203,29,3,26,low
2,Allston,431874.0,2015,8,284,38,9,45,low
3,Allston,438437.0,2015,9,244,28,3,35,low
4,Allston,442258.0,2015,10,240,35,4,28,low

In [40]:
very_high = new_df.loc[new_df['price classified'] == 'very high']
high = new_df.loc[new_df['price classified'] == 'high']
medium = new_df.loc[new_df['price classified'] == 'medium']
low = new_df.loc[new_df['price classified'] == 'low']

very_high_index = len(very_high.index)
high_index = len(high.index)
medium_index = len(medium.index)
low_index = len(low.index)

In [43]:
print(very_high)

    Neighborhood     prices  year  month  total crime  violent crime  \
95      Back Bay  1201619.0  2017      9          326             40
96      Back Bay  1203238.0  2017     10          364             29
97      Back Bay  1205302.0  2017     11          286             27
98      Back Bay  1207919.0  2017     12          332             40
99      Back Bay  1211685.0  2018      1          274             34
..           ...        ...   ...    ...          ...            ...
607     Downtown  1201890.0  2021      5          371             40
608     Downtown  1205131.0  2021      6          410             48
609     Downtown  1209756.0  2021      7          392             45
610     Downtown  1215843.0  2021      8          492             42
611     Downtown  1216014.0  2021      9          462             49

     drug crime  housing crime price classified
95            3             25        very high
96            5             45        very high
97            2             19        very high
98            7             35        very high
99            9             41        very high
..          ...            ...              ...
607          15             31        very high
608          16             30        very high
609          15             30        very high
610          50             36        very high
611          45             41        very high

[62 rows x 9 columns]

In [34]:
very_total = very_high['total crime'].sum()
high_total = high['total crime'].sum()
medium_total = medium['total crime'].sum()
low_total = low['total crime'].sum()


print('Very High Total average: ' + str(very_total/very_high_index))
print('High Total average: ' + str(high_total/high_index))
print('Medium Total average: ' + str(medium_total/medium_index))
print('Low Total average: ' + str(low_total/low_index))

Very High Total average: 290.3709677419355
High Total average: 155.17194570135746
Medium Total average: 254.02132998745296
Low Total average: 546.854103343465

In [35]:
very_violent = very_high['violent crime'].sum()
high_violent = high['violent crime'].sum()
medium_violent = medium['violent crime'].sum()
low_violent = low['violent crime'].sum()


print('Very High Violent average: ' + str(very_violent/very_high_index))
print('High Violent average: ' + str(high_violent/high_index))
print('Medium Violent average: ' + str(medium_violent/medium_index))
print('Low Violent average: ' + str(low_violent/low_index))

Very High Violent average: 35.04838709677419
High Violent average: 17.986425339366516
Medium Violent average: 27.609786700125472
Low Violent average: 79.54407294832826

In [36]:
very_drug = very_high['drug crime'].sum()
high_drug = high['drug crime'].sum()
medium_drug = medium['drug crime'].sum()
low_drug = low['drug crime'].sum()

print('Very High Drug average: ' + str(very_drug/very_high_index))
print('High Drug average: ' + str(high_drug/high_index))
print('Medium Drug average: ' + str(medium_drug/medium_index))
print('Low Drug average: ' + str(low_drug/low_index))

Very High Drug average: 9.048387096774194
High Drug average: 6.1289592760181
Medium Drug average: 7.910915934755333
Low Drug average: 23.838905775075986

In [37]:
very_housing = very_high['housing crime'].sum()
high_housing = high['housing crime'].sum()
medium_housing = medium['housing crime'].sum()
low_housing = low['housing crime'].sum()


print('Very High Housing average: ' + str(very_housing/very_high_index))
print('High Housing average: ' + str(high_housing/high_index))
print('Medium Housing average: ' + str(medium_housing/medium_index))
print('Low Housing average: ' + str(low_housing/low_index))

Very High Housing average: 25.870967741935484
High Housing average: 13.169683257918551
Medium Housing average: 15.713927227101632
Low Housing average: 28.112462006079028